@{
    ViewBag.Title = "Home Page";
}

<h3>Home Page</h3>
<p>The purpose of this application is to demonstrate the use of Software Potential's web APIs. 
    Navigate through this site, as you would any online store, and observe how best to maintain and manage the 
    licensing associated with your products</p> 
<p>Take a look at our @Html.ActionLink("range of products", "Buy", "Purchase").</p>
<p>An existing customer, could view their @Html.ActionLink("own purchases here", "ListPurchases", "Purchase").</p>
