_ReSharper.*
bin
obj
*.suo
*resharper*
*.user
*.cache
_Teamcity.*
Sp.Samples.Agent.WpfApplicationWithInstaller/Sp.Samples.Agent.WpfApplication/SpAgent.Permutation.cs
Sp.Samples.Agent.WpfApplicationWithInstaller/Sp.Samples.Agent.WpfApplication/SpAgent.props
Sp.Samples.LicenseManagement.Store/Sp.Samples.LicenseManagement.Store/.nuget/NuGet.exe