@{
    ViewBag.Title = "Configuration Error";
}

<hgroup class="title">
    <h2 class="error">Credentials Configuration Error</h2>
</hgroup>
<p>The Software Potential API credentials have not yet been correctly initialized. 
    Please ensure the credentials are provisioned correctly (as appSettings values) in the SoftwarePotential.config file before proceeding with this application.</p>
<p>To initialize the required credentials, please obtain a valid set of Software Potential credentials to use with this application and provide them to the application via @*one of the following*@:-</p>
<ul>
    <li>
        @Html.ActionLink("Set credentials", "../Admin/SoftwarePotentialCredentials")
    </li>
</ul>
