@{
    ViewBag.Title = "ConfigurationError";
}

<hgroup class="title">
    <h1 class="error">Credentials Configuration Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
</hgroup>
<p>The Software Potential API credentials have not been correctly initialized. Please ensure the credentials are provisioned correctly (as appSettings values) in the SoftwarePotential.config file before proceeding with this application.</p>
