@{
    ViewBag.Title = "Configuration Error";
}

<hgroup class="title">
    <h2 class="error">Credentials Configuration Error</h2>
</hgroup>
<p>The Software Potential API credentials have not been correctly initialized. 
    Please ensure the credentials are provisioned correctly (as appSettings values) in the SoftwarePotential.config file before proceeding with this application.</p>
<p>To initialize the required credentials, first confirm you have a set of valid Software Potential credentials to use with this application and then:</p>
<ul>
    <li>
        @Html.ActionLink("Set credentials", "../Admin/SetCredentials")
    </li>
</ul>
