<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?define ReferencedProjectTargetDir = $(var.Sp.Samples.Agent.WpfApplication.TargetDir) ?>
    <?include SpAgent.Product.wxi ?>
    <!-- Sp.Agent binaries with local license store support -->
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="SpAgent.BaseBinaries" Guid="{5F5B0805-B902-4256-A5FD-1AA12A5BA9FD}">
        <File Source="$(var.ReferencedProjectTargetDir)\Sp.Agent.dll" />
        <File Source="$(var.ReferencedProjectTargetDir)\Sp.Agent.$(var.PermutationShortId).dll" />
      </Component>
      <Component Id="SpAgent.LocalStoreBinaries" Guid="{29C28F04-F43D-4A17-85B0-20C7754F6050}">
        <File Source="$(var.ReferencedProjectTargetDir)\Sp.Agent.Local.dll" />
        <File Source="$(var.ReferencedProjectTargetDir)\Sp.Agent.Local.$(var.PermutationShortId).dll" />
      </Component>
    </DirectoryRef>
    <!-- Shared license store folder -->
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="CommonAppDataFolder" Name="CommonAppData">
        <Directory Id="SpAgent.LocalSharedLicenseStore.ProductDirectory" Name="$(var.SpAgent.ProductDirectoryPrefix) $(var.SpAgent.ProductName)">
          <Directory Id="SpAgent.LocalSharedLicenseStore.LicenseDirectory" Name="Licenses">
            <Component Id="SpAgent.LocalSharedLicenseStore" Guid="{7D77ED06-6F56-411E-B9ED-501F7D67EF32}" >
              <CreateFolder>
                <Permission User="Authenticated Users" GenericAll="yes" />
              </CreateFolder>
              <RemoveFolder Id="SpAgent.LocalSharedLicenseStore.CompanyDirectoryRemoval" Directory="SpAgent.LocalSharedLicenseStore.ProductDirectory"  On='uninstall' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>

  </Fragment>
  <Fragment>
    <ComponentGroup Id="SpAgent">
      <ComponentRef Id="SpAgent.BaseBinaries" />
    </ComponentGroup>
    <ComponentGroup Id="SpAgentLocalStorage">
      <ComponentRef Id="SpAgent.LocalStoreBinaries" />
      <ComponentRef Id="SpAgent.LocalSharedLicenseStore" />
    </ComponentGroup>
  </Fragment>
</Wix>