<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="INSERT CLIENT ID HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
    <add key="ClientSecret" value="INSERT CLIENT SECRET HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
    <add key="Scope" value="INSERT SCOPE HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
    <add key="Authority" value="INSERT AUTHORITY HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
    <add key="BaseUrl" value="INSERT BASE URL HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>