@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<p>Welcome to Software Potential ASP .NET MVC Sample</p>

<ul>
	<li>Proceed to @Html.ActionLink("Licensed features", "Index", "LicensedFeatures") list</li>
	<li>Manage your @Html.ActionLink("licenses", "Licensing" )</li>
</ul>