<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SoftwarePotential.Configuration.Local.SingleUser-62340" version="3.2.1959.11" targetFramework="net40" />
  <package id="SoftwarePotential.Configuration-62340" version="3.2.1959.11" targetFramework="net40" />
  <package id="SoftwarePotential.Licensing-Demo_10" version="1.0.1.0" targetFramework="net40" />
  <package id="SoftwarePotential.Protection-62340" version="3.2.1959.11" targetFramework="net40" />
  <package id="SoftwarePotential-62340" version="3.2.1959.11" targetFramework="net40" />
  <package id="Sp.Agent" version="3.2.1959" targetFramework="net40" />
  <package id="Sp.Agent.Local" version="3.2.1959" targetFramework="net40" />
  <package id="Sp.Agent.Local-62340" version="3.2.1959.11" targetFramework="net40" />
  <package id="Sp.Agent-62340" version="3.2.1959.11" targetFramework="net40" />
  <package id="Sp.Permutation-62340" version="3.2.1959.11" targetFramework="net40" />
  <package id="Sp.Product-Demo_10" version="1.0.1.2" targetFramework="net40" />
  <package id="Sp.Protector" version="3.2.1959" targetFramework="net40" />
</packages>