* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Helvetica, Sans-Serif;
}

body {
    background-color: #F4F6F7;
    font-size: .75em;
    margin: 0;
    padding: 0;
    color: #555;
}

a:link, a {
    color: #1d60ff;
    text-decoration: none;
}

    a:hover {
        color: #23a;
        text-decoration: underline;
    }

    a:active {
        color: #757575;
        text-decoration: none;
    }

p, ul {
    margin-bottom: 20px;
    line-height: 1.2em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #0F477A;
}

h2 {
    font-size: 1.5em;
    color: #385B83;
    margin: 6pt 0 6pt 0;
}

h3 {
    font-size: 1.2em;
    color: #67819A;
    margin: 4pt 0 4pt 0;
}

h4 {
    font-size: 1.1em;
    color: #73899F;
    margin: 2pt 0 2pt 0;
}

h5, h6 {
    font-size: 1em;
    color: #8697A8;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 90%;
    margin: 20px auto;
    min-width: 630px;
}

.status {
    height: 2em;
}

    .status div {
        text-align: center;
        background: #ffd;
        color: #000;
        margin: 0px 40px 0px 40px;
        border: 1px solid #eee;
        padding: 4px;
        border-top: 1px solid #fff;
    }

        .status div.Success {
            color: #239E23;
            background: #ECFCEC;
        }

        .status div.Error {
            color: #E23333;
            background: #FCECEC;
        }

#homepage #header {
    position: relative;
    margin: 0px;
    padding: 0;
}

    #homepage #header h1 {
        font-weight: bold;
        padding: 0;
        margin: 0px 0px 0px 7px;
        border: none;
        line-height: 1.7em;
        font-size: 32px !important;
        float: left;
    }

    #homepage #header img.companylogo {
        float: left;
        margin: 0px;
    }

#everypage #header {
    position: relative;
    color: #000;
}

    #everypage #header img.companylogo {
        float: left;
        margin-right: 7px;
    }

    #everypage #header h2 {
        margin: 16px 0px 0px 8px;
        float: left;
    }

    #everypage #header h1 {
        line-height: 1.7em;
        font-size: 32px !important;
        float: left;
    }

        #everypage #header h1 a {
            color: #0F477A;
            font-weight: bold;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }

#main {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    border: 2px solid #CED7D6;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

/* TAB MENU   
----------------------------------------------------------*/
#homepage ul#menu, #everypage ul#menu {
    float: right;
    margin-top: 28px;
}

ul#menu {
    padding: 0 0 2px 0;
    position: relative;
    margin: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }

        ul#menu li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #eee;
            color: #25c;
        }

            ul#menu li a:hover {
                background-color: #e7eeff;
                color: #239;
                text-decoration: none;
            }


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"], input[type="password"] {
    border: 1px solid #CCC;
    padding: 2px 4px 2px 4px;
}

input[type="button"], input[type="submit"], button {
    padding: 1px 7px 1px 7px;
}


/* TABLE
----------------------------------------------------------*/

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

    table tr td {
        padding: 5px;
        border: dashed 1px #ccc;
        background-color: #fff;
    }

    table tr.alt td {
        background-color: #ffc;
    }

    table thead tr td {
        border: solid 1px #ccc;
        background: #d0e0f0;
        color: #333;
    }

    table tr td table * {
        font-size: 8pt;
    }

    table tr td table thead tr td {
        background: #EAF1F7;
    }

    table tr td table tr.alt td {
        background-color: #ffd;
    }

    table tr td table tr td[id|="expander"] {
        padding-left: 15px;
    }

div.emptyTableMessage {
    padding: 10px;
}


/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
    height: 0px;
    font-size: 0px;
}

#menucontainer {
    margin-top: 40px;
}

.borderline {
    border-top: 2px solid #EAEEED;
}

.flush-right {
    text-align: right;
}

.label {
    text-align: right;
    margin-right: 5px;
    float: left;
    width: 90px;
}

.inputContainer {
    margin-top: 5px;
}

.textArea {
    width: 343px;
    height: 150px;
}

.float_right {
    float: right;
}

.form_layout {
    width: 442px;
}

#ActivationKey {
    width: 274px;
    padding-left: 0;
    padding-right: 0;
}

/* info boxes */

#more_info {
    float: right;
    background-color: #eee;
    color: #25c;
    }

#info_text ol {
    margin-left: 2em;
    margin-bottom: 1em;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}



/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label, .display-field, .editor-field {
    margin: 0.5em 0;
}

.text-box {
    width: 30em;
}

    .text-box.multi-line {
        height: 6.5em;
    }

.tri-state {
    width: 6em;
}

/* Clickable block with on/off behaviour */

a.toggle_option_on {
    letter-spacing: 0.04em;
    padding: 2px 10px 2px 10px;
    background-color: #e7eeff;
    color: #239;
}

a.toggle_option_off {
    letter-spacing: 0.04em;
    padding: 2px 10px 2px 10px;
    background: #eee;
    color: #666;
}

    a.toggle_option_off:hover {
        color: #23a;
        text-decoration: underline;
    }

a.toggle_option_on:hover {
    text-decoration: none;
}

/* Expander styles */
.hidden {
    display: none;
}

/* Specific items */

#refresher {
    margin: 12px 0px 0px 5px;
}

.front-page {
}

    .front-page .boxpanel .inner {
        min-height: 80px;
    }

.boxpanel {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 50%;
    min-width: 320px;
}

    .boxpanel .inner {
        margin: 10px;
        padding: 7px 10px 7px 10px;
        background: #fcfcfc;
        border-radius: 5px;
        border: 2px solid #CED7D6;
    }

        .boxpanel .inner ul {
            margin: 9px 0px 7px 0px;
        }

            .boxpanel .inner ul li {
                list-style-type: none;
                margin-left: 10px;
                margin-top: 7px;
            }

div.form_pair {
    margin: 10px 10px 10px 0px;
}

    div.form_pair label {
        height: 24px;
        line-height: 24px;
        display: inline-block;
        vertical-align: top;
        width: 130px;
    }

section header {
    position: relative;
}

section header {
    border-bottom: 3px solid #F4F6F7;
    margin-bottom: 20px;
    margin-top: 20px;
}

    section header h3 {
        font-size: 1.2em;
        color: #2C5585;
        margin: 4pt 0 4pt 0;
    }

section table td {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

section table td.username {
    text-align: left !important;
    padding: 5px 10px 5px 10px;
}

section table th {
    text-align: center;
    padding: 5px 10px 5px 10px;
}
