@model DemoApp.Models.ManualActivationModel
@{
    ViewBag.Title = "ManualActivation";
   
}

<header>
    <h2>Activate a License Manually:</h2>    
</header>


@using ( Html.BeginForm() )
{
    <div id="messages" >
        @Html.ValidationSummary( true )
        @Html.ValidationMessageFor( model => model.ActivationRequest )
    </div>

    <fieldset>

        <div class="form_pair">
            <label for="ActivationRequest">Activation Key:</label>
            @Html.TextAreaFor( model => model.ActivationRequest )
        </div>

     
        <div class="button_group">
            <button class="button activation ">Activate</button>
        </div>
    </fieldset>
    
}
@if ( Model != null && Model.FileId != null && Model.FileId != Guid.Empty)
{
    <section class="download_link">
        @Html.ActionLink( "Download license file", "Download", new { fileId = Model.FileId } );
    </section>
}
