<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="docopt.net" version="0.6.1.5" targetFramework="net40" />
  <package id="SoftwarePotential-62340" version="3.3.1.15" targetFramework="net40" />
  <package id="Sp.Agent" version="3.3.1" targetFramework="net40" />
  <package id="Sp.Agent.Distributor" version="3.3.1" targetFramework="net40" />
  <package id="Sp.Agent.Distributor-62340" version="3.3.1.15" targetFramework="net40" />
  <package id="Sp.Agent-62340" version="3.3.1.15" targetFramework="net40" />
</packages>