<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="ClientId" value="INSERT CLIENT ID HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
    <add key="ClientSecret" value="INSERT CLIENT SECRET HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
    <add key="Scope" value="INSERT SCOPE HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
    <add key="Authority" value="INSERT AUTHORITY HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
    <add key="BaseUrl" value="INSERT BASE URL HERE - Need to run &quot;./configure.ps1&quot; from the root folder before running the tests."/>
  </appSettings>-->
  <appSettings><add key="ClientId" value="SpScenarios"/>
    <add key="ClientSecret" value="fuLlmB5sL9%0Ds!sd*P15X3f"/>
    <add key="Scope" value="wcf"/>
    <add key="Authority" value="https://sts.testsoftwarepotential.com/"/>
    <add key="BaseUrl" value="https://srv.testsoftwarepotential.com/"/>
  </appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <ws2007FederationHttpBinding>
                <binding name="WS2007FederationHttpBinding_ILicenseManagementWS">
                    <security mode="TransportWithMessageCredential">
                        <message establishSecurityContext="false" issuedKeyType="BearerKey">
                            <tokenRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                                    <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                    <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                                </trust:SecondaryParameters>
                            </tokenRequestParameters>
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://srv.testsoftwarepotential.com/SLMServerWS/LicenseManagementBearerWS.svc"
                binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_ILicenseManagementWS"
                contract="LicenseManagementWS.ILicenseManagementWS" name="WS2007FederationHttpBinding_ILicenseManagementWS" />
        </client>
    </system.serviceModel>
</configuration>
