@{
    ViewBag.Title = "Index";
}

<h2>Site Administration</h2>

<ul>
    <li>
        @Html.ActionLink("Manage the Store Catalog", "../Catalog")
    </li>
    <li>
        @Html.ActionLink( "Configure Software Potential Credentials", "SoftwarePotentialCredentials" )
    </li>
</ul>

