@{
	ViewBag.Title = "Index";
}
<h2>
Licensed Features Index</h2>
<ul>
	<li>@Html.ActionLink( "Feature1", "Feature1" )</li>
	<li>@Html.ActionLink( "Feature2", "Feature2" )</li>
	<li>@Html.ActionLink( "Feature3", "Feature3" )</li>
</ul>
